.scroller {
    text-align: left;
    width: 400px;
    height: 250px;
    overflow-x: scroll;
    display: flex;
    box-sizing: border-box;
    border: 1px solid #000;
    scroll-snap-type: x mandatory;
  }
  
  .scroller > div {
    flex: 0 0 250px;
    width: 250px;
    background-color: #663399;
    color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
  }
  
  .scroller > div:nth-child(2n) {
    background-color: #fff;
    color: #663399;
  }
  
  .scroller > div:nth-child(2) {
    scroll-margin: 1rem;
  }
  
  .scroller > div:nth-child(3) {
    scroll-margin: 2rem;
  }
  